<!-- <div class="Cont">
    <div class="sidebar">
                <div class="sidebarLeft">
                    <div  style="display: flex; justify-content: space-between; padding: 2%; align-items: center;">
                        <div style="display: flex; gap: 10px;">
                            <mat-icon style="color: #b3b3b3;">library_music</mat-icon>
                            <h2 style="color: #b3b3b3;">Your Library</h2>
                        </div>
                        <div>
                    
                            <mat-icon style="color: #b3b3b3;">add</mat-icon>
                        </div>
                    </div>
                    <div class="sidebarOne">
                        <h3>Create your first playlist</h3>
                        <p>it's easy we will help you</p>
                        <button>Create playlist</button>
                    </div>
                    <div class="sidebarOne">
                        <h3>Let's find some podcasts to follow </h3>
                        <p>We'll keep your updated on new episodes</p>
                        <button>Browse podcast</button>
                    </div>
                    <div style="display: flex; gap: 25px; flex-wrap: wrap; padding: 2%;">
                        <p style=" color: #b3b3b3;">Legal</p>
                        <p style=" color: #b3b3b3;">Safety& Privacy Center</p>
                        <p style=" color: #b3b3b3;">Privacy Policy</p>
                        <p style=" color: #b3b3b3;">Cookies</p>
                        <p style=" color: #b3b3b3;">About Ads</p>
                        <p style=" color: #b3b3b3;">Accessibility</p>
                        <p style=" color: #b3b3b3;">Cookies</p>
                    </div>
                    <div>
                        <button style="background-color:#121212 ; display: flex; align-items: center; gap:8px ; padding: 2%; color: white; border: 1px solid white;">
                            <mat-icon style="color: white;">public</mat-icon>
                            English</button>
                    </div>
        
                </div>
                
    </div>
    <div class="sidebarTwo">
                <div class="sidebarTwoOne">
                    <div class="sidebarTwoHead">
                        <h1>Popular artists</h1>
                        <p><a >Show all</a></p>
                    </div>
                    <div class="sidebarTwoArtist sidebarTwoArtistGap">
                        <div class="sidebarTwoArtists">
                            <img class="sidebarTwoArtistsImg" src="https://i.scdn.co/image/ab67616100005174cb6926f44f620555ba444fca" alt="">
                            <div class="sidebarTwoArtistCont">
                                <h3>Pritam</h3>
                                <p>Artist</p>
            
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="sidebarTwoArtistsImg" src="https://i.scdn.co/image/ab676161000051745ba2d75eb08a2d672f9b69b7" alt="">
                            <div class="sidebarTwoArtistCont">
                                <h3>Pritam</h3>
                                <p>Artist</p>
            
                            </div>
                        </div >
                        <div class="sidebarTwoArtists">
                            <img class="sidebarTwoArtistsImg" src="https://i.scdn.co/image/ab67616100005174b19af0ea736c6228d6eb539c" alt="">
                            <div class="sidebarTwoArtistCont">
                                <h3>Pritam</h3>
                                <p>Artist</p>
            
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="sidebarTwoArtistsImg" src="https://i.scdn.co/image/ab67616100005174bd6fbc7d0973cc33940781ad" alt="">
                            <div class="sidebarTwoArtistCont">
                                <h3>Pritam</h3>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="sidebarTwoArtistsImg" src="https://i.scdn.co/image/ab6761610000517490b6c3d093f9b02aad628eaf" alt="">
                            <div class="sidebarTwoArtistCont">
                                <h3>Pritam</h3>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="sidebarTwoArtistsImg" src="https://i.scdn.co/image/ab67616100005174c40600e02356cc86f0debe84" alt="">
                            <div class="sidebarTwoArtistCont">
                                <h3>Pritam</h3>
                                <p>Artist</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebarTwoOne">
                    <div class="sidebarTwoHead">
                        <h1>Popular albums and singles</h1>
                        <p><a >Show all</a></p>
                    </div>
                    <div class="sidebarTwoArtist">
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://i.scdn.co/image/ab67616d00001e026404721c1943d5069f0805f3" alt="">
                            <div class="sidebarTwoArtistCont">
                                <h3>Pritam</h3>
                                <p>Artist</p>
            
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://i.scdn.co/image/ab67616d00001e02aad3f4b601ae8763b3fc4e88" alt="">
                            <div class="sidebarTwoArtistCont">
                                <h3>Pritam</h3>
                                <p>Artist</p>
            
                            </div>
                        </div >
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://i.scdn.co/image/ab67616d00001e02b889b365c25bfa01f9772a1e" alt="">
                            <div class="sidebarTwoArtistCont">
                                <h3>Pritam</h3>
                                <p>Artist</p>
            
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://i.scdn.co/image/ab67616d00001e02707ea5b8023ac77d31756ed4" alt="">
                            <div class="sidebarTwoArtistCont">
                                <h3>Pritam</h3>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://i.scdn.co/image/ab67616d00001e027f35adfbec3bb2bc8256802b" alt="">
                            <div class="sidebarTwoArtistCont">
                                <h3>Pritam</h3>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://i.scdn.co/image/ab67616d00001e0279f4a87c23143f0abb14c279">
                            <div class="sidebarTwoArtistCont">
                                <h3>Pritam</h3>
                                <p>Artist</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebarTwoOne">
                    <div class="sidebarTwoHead">
                        <h1>Popular radio</h1>
                        <p><a >Show all</a></p>
                    </div>
                    <div class="sidebarTwoArtist">
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/4YRxDV8wJFPHPTeXepOstw/en" alt="">
                            <div class="sidebarTwoArtistCont">
                                <span>With Sachin-Jigar, Vishal Mishra, Vishal-Shekhar and more</span>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/4fEkbug6kZzzJ8eYX6Kbbp/en" alt="">
                            <div class="sidebarTwoArtistCont">
                            <span>With Armaan Malik, Mohit Chauhan, Ankit Tiwari and more</span>
            
                            </div>
                        </div >
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/0oOet2f43PA68X5RxKobEy/en" alt="">
                            <div class="sidebarTwoArtistCont">
                            <span>With A.R. Rahman, Vishal-Shekhar, Atif Aslam and more</span>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/2FKWNmZWDBZR4dE5KX4plR/en" alt="">
                            <div class="sidebarTwoArtistCont">
                            <span>With Shubh, Karan Aujla, Sidhu Moose Wala and more</span>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/1mYsTxnqsietFxj1OgoGbG/en" alt="">
                            <div class="sidebarTwoArtistCont">
                            <span>With Anirudh Ravichander, Harris Jayaraj, Santhosh Narayanan and more</span>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/4K6blSRoklNdpw4mzLxwfn/en">
                            <div class="sidebarTwoArtistCont">
                            <span>With Asha Bhosle, Abhijeet, Jatin-Lalit and more</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebarTwoOne">
                    <div class="sidebarTwoHead">
                        <h1>Featured Charts</h1>
                        <p><a >Show all</a></p>
                    </div>
                    <div class="sidebarTwoArtist">
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://charts-images.scdn.co/assets/locale_en/regional/weekly/region_global_default.jpg" alt="">
                            <div class="sidebarTwoArtistCont">
                                <span>Your weekly update of the most played tracks right now - Global.</span>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://charts-images.scdn.co/assets/locale_en/regional/weekly/region_in_default.jpg" alt="">
                            <div class="sidebarTwoArtistCont">
                            <span>Your weekly update of the most played tracks right now - India.</span>
                            </div>
                        </div >
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://charts-images.scdn.co/assets/locale_en/regional/daily/region_global_default.jpg" alt="">
                            <div class="sidebarTwoArtistCont">
                                <span>Your daily update of the most played tracks right now - Global.</span>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://charts-images.scdn.co/assets/locale_en/regional/daily/region_in_default.jpg" alt="">
                            <div class="sidebarTwoArtistCont">
                            <span>Your daily update of the most played tracks right now - India.</span>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://charts-images.scdn.co/assets/locale_en/viral/daily/region_global_default.jpg" alt="">
                            <div class="sidebarTwoArtistCont">
                                <span>Your daily update of the most viral tracks right now - Global.</span>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://charts-images.scdn.co/assets/locale_en/viral/daily/region_in_default.jpg">
                            <div class="sidebarTwoArtistCont">
                            <span>Your daily update of the most viral tracks right now - India.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebarTwoOne">
                    <div class="sidebarTwoHead">
                        <h1>India's Best</h1>
                        <p><a >Show all</a></p>
                    </div>
                    <div class="sidebarTwoArtist">
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://i.scdn.co/image/ab67706f00000002bfdf6b7b6d0cd20979bd59b7" alt="">
                            <div class="sidebarTwoArtistCont">
                                <span>Hottest tracks from your favourite I-Pop Icons. Cover- King</span>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://i.scdn.co/image/ab67706f0000000213c0e9696b1b67551355fa64" alt="">
                            <div class="sidebarTwoArtistCont">
                                <span>Bollywood Central, jab baje toh seedha dil ke centre mein lage 🫶🏼 Cover - Stree 2</span>
                            </div>
                        </div >
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://i.scdn.co/image/ab67706f0000000241958ea71003a05cb3d7ccc3" alt="">
                            <div class="sidebarTwoArtistCont">
                            <span>Ultimate 101 Punjabi Hits with Shubh</span>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://i.scdn.co/image/ab67706f000000024e1563387174f7a0c6b5e0ca" alt="">
                            <div class="sidebarTwoArtistCont">
                            <span>Finest collection of Tamil Music from the past 10 years
                                Cover : Amaran</span>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://i.scdn.co/image/ab67706f00000002dda381d6e4b5ebc246bada8a" alt="">
                            <div class="sidebarTwoArtistCont">
                            <span>The finest set of Telugu music from the past 10 years. 
                                Cover : Hi Nanna</span>
                            </div>
                        </div>
                        <div class="sidebarTwoArtists">
                            <img class="alubumImg" src="https://i.scdn.co/image/ab67706f00000002e2881c83b28f451044b0b8f7">
                            <div class="sidebarTwoArtistCont">
                            <span>Finest collection of Tamil Music from the past 10 years Cover : Aavesham</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Fotter">
                    <footer>
                        <div class="fotterDiv">
                            <ul>
                                <li style="color: white;">Company</li>
                                <li><a href="" >About</a></li>
                                <li><a href="">Jobs</a></li>
                                <li><a href="">For the Record</a></li>
                            </ul>
                        </div>
                        <div class="fotterDiv">
                            <ul>
                                <li style="color: white;"> Communities</li>
                                <li><a href="" >For Artist</a></li>
                                <li><a href="">Developers</a></li>
                                <li><a href="">Advertising</a></li>
                                <li><a href="">Investors</a></li>
                                <li><a href="">Vendors</a></li>
                            </ul>
                        </div>
                        <div class="fotterDiv">
                            <ul>
                                <li style="color: white;">Useful links</li>
                                <li><a href="" >Support</a></li>
                                <li><a href="">Free Mobile App</a></li>
                            </ul>
                        </div>
                        <div class="fotterDiv">
                            <ul>
                                <li style="color: white;">Spotify Plans</li>
                                <li><a href="" >Premium Individual</a></li>
                                <li><a href="">Premium Duo</a></li>
                                <li><a href="">Premium Family</a></li>
                                <li><a href="">Premium Student</a></li>
                                <li><a href="">Spotify Free</a></li>
                            </ul>
                        </div>
                        <div class="Icons">
                            <div style="background-color: #1f1f1f; padding: 2%; border-radius: 50px; height: 5vh;">
                                <mat-icon style="color: white;  padding: 2%;">camera_alt</mat-icon>
                            </div>
                            <div>
                                <mat-icon  style="color: white;">chat</mat-icon>
                            </div>
                            <div>
                                <mat-icon  style="color: white;">thumb_up</mat-icon>
                            </div>
                        </div>
                    </footer>
        
                </div>
                <div style="margin-top: 2rem;">
                    <p>© 2025 Spotify AB</p>
                </div>
            
    </div>
    <div style="color:  white; display: flex; justify-content: space-between; 
                background-image: linear-gradient(90deg, #af2896, #509bf5); width: 100%; 
                position: fixed; bottom: 0%; height: 63px; padding: 3px">
            <div>
                <h5>Preview of Spotify</h5>
                <p>Sign up to get unlimited songs and podcasts with occasional ads. No credit card needed.</p>
            </div>
            <button>
                <span>Sign up for free</span>
            </button>
    </div>
</div> -->